# SQL

Una vez realizada toda la limpieza y ordenado todos mis datos. Me conecto con la base de datos a SQL para establecer relaciones:

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
%run functions.ipynb

In [ ]:
usuario = 'root'
ruta_archivo_contraseña = '../sql.txt'  # Reemplaza con la ruta correcta al archivo de texto
host = 'localhost'
puerto = '3306'
nombre_bd = 'turismo'
# Obtén la cadena de conexión
cadena_conexion = crear_cadena_conexion(usuario, ruta_archivo_contraseña, host, puerto, nombre_bd)

#### INE

In [ ]:
ruta_csv_ine_viajeros = '../data/viajeros_combined.csv'
# Nombre de la tabla en la que se cargarán los datos
nombre_tabla_mysql = 'viajeros_combined'

# Llamar a la función para cargar el CSV en la tabla de MySQL
cargar_csv_a_mysql(ruta_csv_ine_viajeros, cadena_conexion, nombre_tabla_mysql)

In [ ]:
ruta_csv_ine_pernoctaciones = '../data/pernoctaciones_combined.csv'
# Nombre de la tabla en la que se cargarán los datos
nombre_tabla_mysql = 'pernoctaciones_combined'

# Llamar a la función para cargar el CSV en la tabla de MySQL
cargar_csv_a_mysql(ruta_csv_ine_pernoctaciones, cadena_conexion, nombre_tabla_mysql)

AEMET

In [ ]:
ruta_csv_aemet_meses = '../data/meses_combined.csv'
# Nombre de la tabla en la que se cargarán los datos
nombre_tabla_mysql = 'meses_combined'

# Llamar a la función para cargar el CSV en la tabla de MySQL
cargar_csv_a_mysql(ruta_csv_aemet_meses, cadena_conexion, nombre_tabla_mysql)