In [12]:
import pandas as pd
from sqlalchemy import create_engine
%run Functions.ipynb

In [15]:
usuario = 'root'
ruta_archivo_contraseña = '../SQL_pass.txt'  # Reemplaza con la ruta correcta al archivo de texto
host = 'localhost'
puerto = '3306'
nombre_bd = 'proyecto'
# Obtén la cadena de conexión
cadena_conexion = crear_cadena_conexion(usuario, ruta_archivo_contraseña, host, puerto, nombre_bd)

In [16]:
ruta_csv_ine_viajeros = '../data/ine_viajeros.csv'
# Nombre de la tabla en la que se cargarán los datos
nombre_tabla_mysql = 'viajeros'

# Llamar a la función para cargar el CSV en la tabla de MySQL
cargar_csv_a_mysql(ruta_csv_ine_viajeros, cadena_conexion, nombre_tabla_mysql)

Error al cargar los datos en MySQL: No module named 'mysql'