IGN

In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [2]:
opciones = Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless = False
opciones.add_argument('--start-maximized')
opciones.add_argument('--incognito')

In [3]:
PATH = 'drive/chromedriver'
driver = webdriver.Chrome(options=opciones)

In [4]:
url = "https://www.ign.es/web/ane-datos-geograficos/-/datos-geograficos/datosPoblacion?tipoBusqueda=capitales"
driver.get(url)

In [5]:
tabla = driver.find_element(By.XPATH, '//*[@id="p_p_id_IGNANEDatosGeograficos_WAR_IGNANEDatosGeograficosportlet_"]/div/div/div/div/table[2]')
tabla

In [6]:
cuerpo = tabla.find_element(By.TAG_NAME, 'tbody')


filas = cuerpo.find_elements(By.TAG_NAME, 'tr')

In [7]:
datos_filas = []
for fila in filas:
    celdas = fila.find_elements(By.TAG_NAME, 'td')
    datos_fila = [celda.text for celda in celdas]
    datos_filas.append(datos_fila)

In [9]:
columnas = ['Capital', 'Provincia', 'Población', 'Latitud', 'Longitud', 'XUTM ETRS89', 'YUTM ETRS89', 
            'Altura (m)']  # Reemplaza con los nombres de tus columnas
data = pd.DataFrame(datos_filas, columns=columnas)

In [10]:
data.dtypes

Capital        object
Provincia      object
Población      object
Latitud        object
Longitud       object
XUTM ETRS89    object
YUTM ETRS89    object
Altura (m)     object
dtype: object

In [11]:
data= data.drop(columns=['XUTM ETRS89', 'YUTM ETRS89', 'Altura (m)'])

In [12]:
filas_eliminar= [0,13,30]
data= data.drop(filas_eliminar).reset_index(drop=True)
data

,Capital,Provincia,Población,Latitud,Longitud
0,A Coruña,A Coruña,246.047,"43,37012643","-8,39114853"
1,Albacete,Albacete,170.475,"38,99588053","-1,85574745"
2,Alicante / Alacant,Alicante / Alacant,334.418,"38,34548705","-0,4831832"
3,Almería,Almería,190.013,"36,83892362","-2,46413188"
4,Ávila,Ávila,58.245,"40,65586958","-4,69771277"
5,Badajoz,Badajoz,150.376,"38,87874339","-6,97099704"
6,Barcelona,Barcelona,1.619.337,"41,38424664","2,17634927"
7,Bilbao,Vizcaya,353.187,"43,25721957","-2,92390606"
8,Burgos,Burgos,178.574,"42,34113004","-3,70419805"
9,Cáceres,Cáceres,94.179,"39,47316762","-6,37121092"
10,Cádiz,Cádiz,125.826,"36,52171152","-6,28414575"
11,Castellón de la Plana / Castelló de la Plana,Castellón / Castelló,180.690,"39,98640809","-0,03688142"
12,Ciudad Real,Ciudad Real,74.345,"38,98651781","-3,93131981"
13,Córdoba,Córdoba,328.547,"37,87954225","-4,78032455"
14,Cuenca,Cuenca,56.189,"40,07653762","-2,13152306"
15,Girona,Girona,96.236,"41,98186075","2,82411899"
16,Granada,Granada,239.154,"37,17641932","-3,60001883"
17,Guadalajara,Guadalajara,83.789,"40,63435548","-3,16210273"
18,Huelva,Huelva,149.310,"37,26004113","-6,95040588"
19,Huesca,Huesca,52.347,"42,14062739","-0,40842276"
20,Jaén,Jaén,116.790,"37,7651913","-3,7903594"
21,Las Palmas de Gran Canaria,Las Palmas,383.308,"28,099378545","-15,413368411"
22,León,León,134.012,"42,59912097","-5,56707631"
23,Lleida,Lleida,137.387,"41,61527355","0,62061934"
24,Logroño,La Rioja,152.650,"42,46644945","-2,44565538"
25,Lugo,Lugo,97.635,"43,0091282","-7,55817392"
26,Madrid,Madrid,3.273.049,"40,40841191","-3,68760088"
27,Málaga,Málaga,568.507,"36,72034267","-4,41997511"
28,Murcia,Murcia,441.345,"37,98436361","-1,1285408"
29,Ourense,Ourense,108.673,"42,33654919","-7,86368375"
30,Oviedo,Asturias,225.155,"43,36232165","-5,84372206"
31,Palencia,Palencia,82.169,"42,0078373","-4,53460106"
32,Palma,Illes Balears,404.681,"39,57114699","2,65181698"
33,Pamplona / Iruña,Navarra,197.488,"42,814102","-1,6451528"
34,Pontevedra,Pontevedra,81.981,"42,43381442","-8,64799018"
35,Salamanca,Salamanca,154.462,"40,96736822","-5,66538084"
36,San Sebastián / Donostia,Gipuzkoa,185.506,"43,31717158","-1,98191785"
37,Santa Cruz de Tenerife,Santa Cruz de Tenerife,222.643,"28,462854082","-16,247206286"
38,Santander,Cantabria,181.589,"43,46297885","-3,80474784"
39,Segovia,Segovia,55.748,"40,9498703","-4,12524116"
40,Sevilla,Sevilla,704.198,"37,38620512","-5,99251368"
41,Soria,Soria,39.838,"41,76327912","-2,46624798"
42,Tarragona,Tarragona,140.184,"41,11910287","1,2584219"
43,Teruel,Teruel,35.241,"40,34412951","-1,10927177"
44,Toledo,Toledo,82.489,"39,85715187","-4,02431421"
45,Valencia,Valencia / València,809.267,"39,47534441","-0,37565717"
46,Valladolid,Valladolid,315.522,"41,65232777","-4,72334924"
47,Vitoria-Gasteiz,Álava,238.247,"42,85058789","-2,67275685"
48,Zamora,Zamora,65.998,"41,49913956","-5,75494831"
49,Zaragoza,Zaragoza,675.121,"41,65645655","-0,87928652"

In [13]:
correccion_provincias={'Álava': 'Araba/alava',
                      'Santa Cruz de Tenerife':'Sta. cruz de tenerife',
                      'Málaga':'Malaga',
                      'Las Palmas': 'Las palmas de gran canaria',
                      'Valencia / València':'Valencia',
                      'La Rioja': 'La rioja',
                      'León':'Leon',
                      'Alicante / Alacant':'Alicante',
                      'Almería':'Almeria',
                      'Ávila': 'Avila',
                      'Illes Balears': 'Islas baleares',
                      'Cáceres': 'Caceres',
                      'Cádiz':'Cadiz',
                      'Castellón / Castelló': 'Castellon',
                      'Ciudad Real': 'Ciudad real',
                      'Córdoba': 'Cordoba',
                      'A Coruña': 'A coruna',
                      'Jaén': 'Jaen' }

data['Provincia']= data['Provincia'].replace(correccion_provincias)

In [14]:
data = data.drop(columns=['Capital'])

In [15]:
data.dtypes

Provincia    object
Población    object
Latitud      object
Longitud     object
dtype: object

In [16]:
data['Población'] = pd.to_numeric(data['Población'].str.replace('.', ''), errors='coerce').astype(int)
data['Latitud'] = pd.to_numeric(data['Latitud'].str.replace(',', '.'), errors='coerce')
data['Longitud'] = pd.to_numeric(data['Longitud'].str.replace(',', '.'), errors='coerce')

In [17]:
data.dtypes

Provincia     object
Población      int32
Latitud      float64
Longitud     float64
dtype: object

In [18]:
data['ID_latitud_longitud']=range(len(data))

In [19]:
data.to_csv('../data/IGN.csv', index=False)