In [235]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [236]:
opciones = Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless = False
opciones.add_argument('--start-maximized')
opciones.add_argument('--incognito')

In [237]:
PATH = 'drive/chromedriver'
driver = webdriver.Chrome(options=opciones)

In [238]:
url = "https://www.ign.es/web/ane-datos-geograficos/-/datos-geograficos/datosPoblacion?tipoBusqueda=capitales"
driver.get(url)

In [239]:
elemento_select = driver.find_element(By.CSS_SELECTOR, '#_IGNANEDatosGeograficos_WAR_IGNANEDatosGeograficosportlet_tipoBusqueda')

In [240]:
elemento_select.click()

In [241]:
time.sleep(3)

In [242]:
opcion_provincias = driver.find_element(By.CSS_SELECTOR, '#_IGNANEDatosGeograficos_WAR_IGNANEDatosGeograficosportlet_tipoBusqueda > option:nth-child(2)')
opcion_provincias.click()

In [243]:
elemento_select2 = driver.find_element(By.CSS_SELECTOR, '#_IGNANEDatosGeograficos_WAR_IGNANEDatosGeograficosportlet_search')

In [244]:
elemento_select2.click()

In [245]:
time.sleep(3)

In [246]:
tabla = driver.find_element(By.XPATH, '//*[@id="p_p_id_IGNANEDatosGeograficos_WAR_IGNANEDatosGeograficosportlet_"]/div/div/div/div/table[2]')
tabla

In [247]:
cuerpo = tabla.find_element(By.TAG_NAME, 'tbody')


filas = cuerpo.find_elements(By.TAG_NAME, 'tr')

In [248]:
datos_filas = []
for fila in filas:
    celdas = fila.find_elements(By.TAG_NAME, 'td')
    datos_fila = [celda.text for celda in celdas]
    datos_filas.append(datos_fila)

In [249]:
columnas = ['Cod.INE', 'Provincia', 'Población', 'Superf.(km2)']  # Reemplaza con los nombres de tus columnas
data = pd.DataFrame(datos_filas, columns=columnas)

In [250]:
data.dtypes

Cod.INE         object
Provincia       object
Población       object
Superf.(km2)    object
dtype: object

In [251]:
data= data.drop(columns=['Cod.INE'])

In [252]:
data.shape

(53, 3)

In [253]:
filas_eliminar= [0,51,52]
data= data.drop(filas_eliminar).reset_index(drop=True)
data

                 Provincia  Población Superf.(km2)
0            Araba / Álava    319.227        3.037
1                 Albacete    402.318       14.924
2       Alicante / Alacant  1.934.127        5.817
3                  Almería    702.819        8.775
4                    Ávila    172.704        8.050
5                  Badajoz    693.921       21.766
6            Illes Balears  1.113.114        4.992
7                Barcelona  5.529.099        7.728
8                   Burgos    375.657       14.292
9                  Cáceres    415.446       19.868
10                   Cádiz  1.243.519        7.440
11    Castellón / Castelló    604.344        6.636
12             Ciudad Real    530.175       19.813
13                 Córdoba    805.857       13.771
14                A Coruña  1.147.124        7.950
15                  Cuenca    219.138       17.140
16                  Girona    756.810        5.910
17                 Granada    924.550       12.647
18             Guadalajara    256.461       12.214
19                Gipuzkoa    709.607        1.980
20                  Huelva    521.968       10.128
21                  Huesca    228.361       15.636
22                    Jaén    670.600       13.496
23                    León    497.799       15.581
24                  Lleida    442.308       12.172
25                La Rioja    322.955        5.045
26                    Lugo    351.530        9.856
27                  Madrid  6.489.680        8.028
28                  Málaga  1.625.827        7.306
29                  Murcia  1.470.069       11.314
30                 Navarra    642.051       10.391
31                 Ourense    333.257        7.273
32                Asturias  1.081.487       10.604
33                Palencia    171.668        8.052
34              Las Palmas  1.096.980        4.066
35              Pontevedra    963.511        4.495
36               Salamanca    352.986       12.350
37  Santa Cruz de Tenerife  1.029.789        3.381
38               Cantabria    593.121        5.321
39                 Segovia    164.169        6.921
40                 Sevilla  1.928.962       14.036
41                   Soria     95.223       10.306
42               Tarragona    811.401        6.303
43                  Teruel    144.607       14.810
44                  Toledo    707.242       15.370
45     Valencia / València  2.578.719       10.807
46              Valladolid    534.874        8.110
47                 Bizkaia  1.155.772        2.217
48                  Zamora    193.383       10.561
49                Zaragoza    973.325       17.274

In [254]:
data['Provincia'].value_counts()

Provincia
Araba / Álava             1
Santa Cruz de Tenerife    1
Madrid                    1
Málaga                    1
Murcia                    1
Navarra                   1
Ourense                   1
Asturias                  1
Palencia                  1
Las Palmas                1
Pontevedra                1
Salamanca                 1
Cantabria                 1
Albacete                  1
Segovia                   1
Sevilla                   1
Soria                     1
Tarragona                 1
Teruel                    1
Toledo                    1
Valencia / València       1
Valladolid                1
Bizkaia                   1
Zamora                    1
Lugo                      1
La Rioja                  1
Lleida                    1
León                      1
Alicante / Alacant        1
Almería                   1
Ávila                     1
Badajoz                   1
Illes Balears             1
Barcelona                 1
Burgos                    1
Cáceres                   1
Cádiz                     1
Castellón / Castelló      1
Ciudad Real               1
Córdoba                   1
A Coruña                  1
Cuenca                    1
Girona                    1
Granada                   1
Guadalajara               1
Gipuzkoa                  1
Huelva                    1
Huesca                    1
Jaén                      1
Zaragoza                  1
Name: count, dtype: int64

In [255]:
correccion_provincias={'Araba / Álava': 'Araba/alava',
                      'Santa Cruz de Tenerife':'Sta. cruz de tenerife',
                      'Málaga':'Malaga',
                      'Las Palmas': 'Las palmas de gran canaria',
                      'Valencia / València':'Valencia',
                      'La Rioja': 'La rioja',
                      'León':'Leon',
                      'Alicante / Alacant':'Alicante',
                      'Almería':'Almeria',
                      'Ávila': 'Avila',
                      'Illes Balears': 'Islas baleares',
                      'Cáceres': 'Caceres',
                      'Cádiz':'Cadiz',
                      'Castellón / Castelló': 'Castellon',
                      'Ciudad Real': 'Ciudad real',
                      'Córdoba': 'Cordoba',
                      'A Coruña': 'A coruna',
                      'Jaén': 'Jaen' }

data['Provincia']= data['Provincia'].replace(correccion_provincias)

In [256]:
data['Población'] = pd.to_numeric(data['Población'].str.replace('.', ''), errors='coerce').astype(int)
data['Superf.(km2)'] = pd.to_numeric(data['Superf.(km2)'].str.replace('.', ''), errors='coerce').astype(int)

In [257]:
data

                     Provincia  Población  Superf.(km2)
0                  Araba/alava     319227          3037
1                     Albacete     402318         14924
2                     Alicante    1934127          5817
3                      Almeria     702819          8775
4                        Avila     172704          8050
5                      Badajoz     693921         21766
6               Islas baleares    1113114          4992
7                    Barcelona    5529099          7728
8                       Burgos     375657         14292
9                      Caceres     415446         19868
10                       Cadiz    1243519          7440
11                   Castellon     604344          6636
12                 Ciudad real     530175         19813
13                     Cordoba     805857         13771
14                    A coruna    1147124          7950
15                      Cuenca     219138         17140
16                      Girona     756810          5910
17                     Granada     924550         12647
18                 Guadalajara     256461         12214
19                    Gipuzkoa     709607          1980
20                      Huelva     521968         10128
21                      Huesca     228361         15636
22                        Jaen     670600         13496
23                        Leon     497799         15581
24                      Lleida     442308         12172
25                    La rioja     322955          5045
26                        Lugo     351530          9856
27                      Madrid    6489680          8028
28                      Malaga    1625827          7306
29                      Murcia    1470069         11314
30                     Navarra     642051         10391
31                     Ourense     333257          7273
32                    Asturias    1081487         10604
33                    Palencia     171668          8052
34  Las palmas de gran canaria    1096980          4066
35                  Pontevedra     963511          4495
36                   Salamanca     352986         12350
37       Sta. cruz de tenerife    1029789          3381
38                   Cantabria     593121          5321
39                     Segovia     164169          6921
40                     Sevilla    1928962         14036
41                       Soria      95223         10306
42                   Tarragona     811401          6303
43                      Teruel     144607         14810
44                      Toledo     707242         15370
45                    Valencia    2578719         10807
46                  Valladolid     534874          8110
47                     Bizkaia    1155772          2217
48                      Zamora     193383         10561
49                    Zaragoza     973325         17274

In [261]:
data.to_csv('../data/IGN.csv', index=False)